<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Spring Boot API</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to My Spring Boot API</h1>
    <p>This is a simple welcome page for your Spring Boot API.</p>

    <!-- Your name and workshop project note -->
    <p>Created by Vítor Pereira Resende</p>
    <p>This webapp simulates a workshop and was made using Java, Spring Boot framework, and PostgreSQL.</p>
</div>

<!-- Styled button links div -->
<div class="links-container">
    <button class="styled-button"><a href="https://workshop-springboot3-app-befefc2b19cc.herokuapp.com/users">To See the Users API working</a></button>
    <button class="styled-button"><a href="https://workshop-springboot3-app-befefc2b19cc.herokuapp.com/orders">To View Orders API working</a></button>
    <button class="styled-button"><a href="https://workshop-springboot3-app-befefc2b19cc.herokuapp.com/categories">To Explore Categories API working</a></button>
    <button class="styled-button"><a href="https://workshop-springboot3-app-befefc2b19cc.herokuapp.com/products">To Browse Products API working</a></button>
</div>
</body>
</html>
